* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.containers {
    background-color: #ffffff;
    padding: 1.3rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 600px;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 2rem;
}

#task-input {
    flex: 1;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 0.5rem;
    outline: none;
}

#task-input:focus {
    background-color: #ffffff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#task-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.task-tile {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33% - 1rem);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
}

.task-tile span {
    flex: 1;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: normal;
}

.task-tile .timestamp {
    font-size: 0.8rem;
    color: #888;
    margin-top: 0.5rem;
}


.task-tile.completed span {
    text-decoration: line-through;
    color: #888;
}

.tile-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.tile-buttons button {
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
}

.tile-buttons button.edit {
    background-color: #218838;
    color: white;
}

.tile-buttons button.edit:hover {
    background-color: #808080;
}

.tile-buttons button.complete {
    background-color: #007bff;
    color: white;
}

.tile-buttons button.complete:hover {
    background-color: #808080;
}

.tile-buttons button.delete {
    background-color: #f50202;
    color: white;
}

.tile-buttons button.delete:hover {
    background-color: #f08080;
}
